Sources/*/*.aux
Sources/*/*.bbl
Sources/*/*.blg
Sources/*/*.log
Sources/*/*.out
Sources/*/RASD.pdf
Sources/*/DD.pdf
Sources/*/*.synctex.gz
Sources/*/*.tcp
Sources/*/*.toc
Sources/*/*.tps
Sources/*/*.lof
Sources/*/*.lol
Sources/*/CI.pdf
Sources/*/ITP.pdf
*/*.db

